USE [master]
GO
/****** Object:  Database [eshop]    Script Date: 11/3/2021 7:39:45 PM ******/
CREATE DATABASE [eshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\eshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\eshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eshop]
GO
/****** Object:  User [xxxxxxx]    Script Date: 11/3/2021 7:39:45 PM ******/
CREATE USER [xxxxxx] FOR LOGIN [xxxxxxx] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [xxxxxx]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/3/2021 7:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[imgUri] [nvarchar](255) NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
